<h1>Shopping Cart</h1>

<div>
  <% if @cart_products.present? %>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product %></td>
            <td>
              <%= form_with url: update_cart_path(product), method: :patch do %>
                <%= hidden_field_tag(:id, product.id) %>
                <%= number_field_tag(:quantity, @cart_item_quantities[product.id], min: 1) %>
                <%= submit_tag "Update" %>
              <% end %>
            </td>
            <td><%= number_to_currency(product.discounted_price.present? ? product.discounted_price : product.price) %></td>
            <td><%= number_to_currency((product.discounted_price.present? ? product.discounted_price : product.price) * @cart_item_quantities[product.id]) %></td>
            <td>
              <%= button_to delete_from_cart_path(product), method: :delete, data: { confirm: 'Are you sure?' } do %>
                Remove
              <% end %>
            </td>
          </tr>
          <%= hidden_field_tag("product_quantity[#{product.id}]", @cart_item_quantities[product.id]) %>
        <% end %>
      </tbody>
    </table>
    <%= form_with url: checkout_create_path, remote: true, data: { turbo: false } do %>
      <%= hidden_field_tag(:shopping_cart, session[:shopping_cart]) %>
      <% @cart_products.each do |product| %>
        <%= hidden_field_tag("product_quantity[#{product.id}]", @cart_item_quantities[product.id]) %>
      <% end %>
      <%= button_tag 'Buy Now' %>
    <% end %>
  <% else %>
    <p>No items in the cart.</p>
  <% end %>
</div>