<h1>Checkout</h1>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Log In", new_user_session_path %>

<div>
  <% if @cart_products.present? %>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= number_to_currency((product.discounted_price.present? ? product.discounted_price : product.price) * @cart_item_quantities[product.id]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>Total Price: <%= number_to_currency(@total_price) %></p>

    <%= form_with(model: @customer, url: checkout_path, method: :post) do |form| %>
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="field">
        <%= form.label :province %>
        <%= form.text_field :province %>
      </div>

      <div class="field">
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code %>
      </div>

      <%= form_with url: checkout_create_checkout_session_path, remote: true do %>
        <%= hidden_field_tag(:product_id, product.id) %>
        <%= button_tag 'Place Order 💵' %>
      <% end %>
    <% end %>
  <% else %>
    <p>No items in the cart.</p>
  <% end %>
</div>
