<div class="cell">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
    </div>

    <div class="card-content">
      <p class="content">Category: <%= link_to product.category.name,product.category %></p>
    
      <p class="content">
        Description: <br><%=product.description %>
      </p>
      <p class="content">
        Price: <br><%= number_to_currency(product.price) %>
      </p>
      <p class="content"> 
        <% if product.discounted_price.present? %>
            Discounted Price: <br><%= number_to_currency(product.discounted_price) %>
        <% else %>
        <% end %>
        </p>
      <p class="content">
        Quantity in stock: <br><%=product.quantity %>
      </p>

    </div>

    <div class="card-image">
      <% if product.image.present? %>
        <div class="card-image">
            <figure class="image">
            <%= image_tag product.image%> 
            </figure>
        </div>
    <% end %>
     </div>
  </div>
</div>