<div class="cell">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </p>
    </div>

    <div class="card-content">
      <p class="content">Category: <%= link_to product.category.name, product.category %></p>
    
      <p class="content">
        Description: <%= product.description %>
      </p>
      <p class="content">
        Price: <%= number_to_currency(product.price) %>
      </p>
      <% if product.discounted_price.present? %>
        <p class="content">Discounted Price: <%= number_to_currency(product.discounted_price) %></p>
      <% end %>

      <div class="card-image">
        <% if product.image.attached? %>
          <div class="card-image">
            <figure class="image">
              <%= image_tag product.image %>
            </figure>
          </div>
        <% end %>
      </div>

      <% if cart.include?(product) %>
        <%= button_to delete_from_cart_path(product), method: :delete do %>
          Remove from cart ❌
        <% end %>
      <% else %>
        <%= form_with url: cart_path(product), method: :post do %>
          <%= hidden_field_tag(:id, product.id) %>
          <%= button_tag "Add to cart ➕" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>